html {
  font-size: 62.5%;
}
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.product__list {
  margin-top: 20px;
  padding-top: 0px;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.product__item {
  flex-basis: 22%;
}
.product__img {
  width: 100%;
  border: 1px solid #333;
  margin-bottom: 5px;
}
.product__img img {
  width: 100%;
}
.product__price {
  font-weight: 800;
}
.product__btn {
  cursor: pointer;
  outline: none;
  border: unset;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(116, 233, 116);
}
.product__imfor {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.item__name,
.product__name {
  /* margin-right: 50px; */
  font-weight: bold;
}
.product__name,
.product__price {
  font-size: 1.6rem;
}
.icon__cart {
  font-size: 2.6rem;
}
.item__img {
  width: 30%;
}
.item__img img {
  width: 150px;
}
.delete__item {
  margin-left: 60px;
}
.cart {
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60vw;
  padding: 20px 20px;
  transition: transform 0.4s linear;
}
.header__cart {
  font-size: 1.8rem;
}
.cart h2 {
  font-size: 2.2rem;
}
.hide__cart {
  transform: translateX(100vw);
}
.hide__overlay {
  opacity: 0;
  display: none;
}
.list__item {
  height: 90vh;
  overflow-y: scroll;
  margin-bottom: 50px;
}
.item__quality {
  display: flex;
  justify-content: center;
  width: 200px;
  align-items: center;
}
.item__quality input {
  width: 50px;
}
.item__name {
  margin-right: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.item__name,
.item__quality,
.item__price {
  font-size: 1.6rem;
}
.overlay {
  transition: all 0.2s linear;
  position: fixed;
  inset: 0;
  background-color: #333333a2;
}
.notification__add--success {
  position: fixed;
  background-color: #eee;
  height: 30vw;
  width: 50vw;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.title,
.content {
  text-align: center;
}
.content {
  font-size: 1.8rem;
}
.notification {
  width: 50%;
  height: 70%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.notification__add--success {
  border-radius: 15px;
  padding: 10px;
}
.notification__add--success,
.fa-square-xmark {
  font-size: 1.6rem;
}
.notification__add--success .fa-square-xmark {
  cursor: pointer;
  color: red;
}
.notification___header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* -------------------------------------Responsive--------------------------------------- */
@media (max-width: 1024px) {
  #container {
    max-width: 1000px;
  }
  .product__item {
    flex-basis: 23.4%;
  }
  .item__name,
  .item__quality,
  .item__price {
    font-size: 1.4rem;
  }
  .item__name {
    margin-right: 30px;
    flex-basis: 20%;
  }
}
@media (max-width: 992px) {
  #container {
    max-width: 750px;
  }
  .product__btn {
    padding: 8px 10px;
  }
  .product__item {
    flex-basis: 31%;
  }
  .product__name {
    font-size: 1.4rem;
  }
}
@media (max-width: 901px) {
  #container {
    max-width: 700px;
  }
  .product__btn {
    padding: 6px 8px;
  }
  .item__img img {
    width: 80px;
  }
  .item__quality input {
    width: 30px;
  }
  .delete__item {
    margin-left: 20px;
    cursor: pointer;
  }
  .item__name,
  .item__quality,
  .item__price {
    font-size: 1.2rem;
  }
  .item__name {
    margin-right: 30px;
    flex-basis: 20%;
  }
}
@media (max-width: 698px) {
  #container {
    max-width: 630px;
  }
  .product__item {
    flex-basis: 30%;
  }
}
@media (max-width: 600px) {
  #container {
    max-width: 590px;
  }
  .icon__cart {
    font-size: 2rem;
  }
  .item__img img {
    width: 50px;
  }
  .item__quality input {
    width: 30px;
  }
  .delete__item {
    margin-left: 10px;
  }
  .item__name,
  .item__quality,
  .item__price {
    font-size: 1.3rem;
  }
  .item__name {
    margin-right: 10px;
  }
}
@media (max-width: 560px) {
  #container {
    max-width: 520px;
  }
  .product__item {
    flex-basis: 48%;
  }
  .cart {
    width: 80vw;
  }
  .notification__add--success {
    padding-bottom: 30px;
  }
}
@media (max-width: 530px) {
  #container {
    max-width: 510px;
  }
  .product__item {
    flex-basis: 47%;
  }
}
@media (max-width: 400px) {
  .product__item {
    flex-basis: 100%;
  }
}
